{
    "name": "KLM optimization",
    "description": "",
    "algorithm" : "MOBO",
    "problem_type" : "detector opt",
    "problem_name" : "KLM",
    "WORKING_DIR" : "WORKDIR",
    "OUTPUT_DIR" : "OUTDIR",
    "n_objectives" : 3,
    "n_design_params" : 3,
    "n_constraints" : 0,
    "n_calls" : 5,
    "n_initial_points" : 1,
    "n_batch" : 1,
    "save_every_n_call" : 1,
    "hv_tolerance" : 0.1,
    "max_calls" : 200,
    "MOBO_params" : {
        "warmup_steps" : 256,
        "num_samples" : 128
    }
}