{
    "name": "DTLZ2-Test Problem",
    "description": "DTLZ2-Test Problem with 2 Objectives and 5 design parameters",
    "algorithm" : "MOBO",
    "problem_type" : "TestProblem",
    "problem_name" : "DTLZ2",
    "WORKING_DIR" : "WORKDIR",
    "OUTPUT_DIR" : "DTLZ2-M2-d5",
    "n_objectives" : 2,
    "n_design_params" : 5,
    "n_constraints" : 0,
    "n_calls" : 50,
    "n_initial_points" : 10,
    "n_batch" : 4,
    "save_every_n_call" : 1,
    "hv_tolerance" : 0.1,
    "max_calls" : 200,
    "MOBO_params" : {
        "warmup_steps" : 256,
        "num_samples" : 128
    },
    "WandB_params" : {
        "project" : "AID2E-Closure-1", 
        "name" : "DTLZ2-M2-d5",
        "group" : "DTLZ2-M2-d5",
        "anonymous" : "never",
        "job_type" : "run"
    }
}
