{
    "name": "dRICH optimization",
    "problem_name" : "dRICH",
    "WORKING_DIR" : "WORKDIR",
    "OUTPUT_DIR" : "OUTDIR",
    "OUTPUT_NAME" : "drich_optimization_test",
    "n_sobol" : 25,
    "n_mobo" : 75,
    "n_batch_sobol" : 10,
    "n_batch_mobo" : 5,
    "hv_tolerance" : 0.1,
    "MOBO_params" : {
        "warmup_steps" : 256,
        "num_samples" : 128
    }
}
