{
"parameters": {
	"steel_slope": {
		"element": "value",
		"path": ".//constant[@name='steel_slope']",
		"default": "0",
		"units": "",
		"lower": "-0.8",
		"upper": "0.8"
	},
	"scint_slope": {
		"element": "value",
		"path": ".//constant[@name='scint_slope']",
		"default": "0",
		"units": "",
		"lower": "-0.8",
		"upper": "0.8"
	},
	"steel_ratio": {
		"element": "value",
		"path": ".//constant[@name='steel_ratio']",
		"default": "0.72",
		"units": "",
		"lower": "0.3",
		"upper": "0.9"
	}
}
}

