{
"parameters": {
	"mirror_centerx": {
		"element": "centerx",
		"path": ".//detector/mirror/[@centerx]",
		"default": "114.",
		"units": "cm",
		"lower": "100",
		"upper": "160"
	},
	"mirror_radius": {
		"element": "radius",
		"path": ".//detector/mirror/[@radius]",
		"default": "219.8",
		"units": "cm",
		"lower": "180.0",
		"upper": "260.0"
	},
	"sensor_centerx": {
		"element": "centerx",
		"path": ".//detector/sensors/sphere/[@centerx]",
		"default": "155.5",
		"units": "cm",
		"lower": "0.0",
		"upper": "0.25"
	},
        "sensor_centerz": {
		"element": "centerz",
                "path": ".//detector/sensors/sphere/[@centerz]",
                "default": "1",
		"units": "cm",
		"lower": "1",
		"upper": "3"
        },
	"sensor_radius": {
                "element": "radius",
                "path": ".//detector/sensors/sphere/[@radius]",
		"default": "110.0",
		"units": "cm",
		"lower": "100.",
		"upper": "500."
	},
        "snout_length": {
                "element": "value",
                "path": ".//constant[@name='DRICH_snout_length']",
                "default": "20",
                "units": "cm",
                "lower": "10.",
                "upper": "25."
        }

},
"constraints":{

}
}

